<body ng-controller="ManagerscreenCtrl" class="button button-dark">
<ion-view hide-nav-bar="true" view-title="Task of the day">
  <div class="bar bar-header bar-light barstyle">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">{{ curdate | date:'dd/MM/yyyy' }}</h1>
    <span class="button button-icon icon ion-checkmark" ng-show="checkin_check"></span>
  </div>
  <ion-content class="has-header" scroll="false">
   <div class="padding welcome_msg">
        <div class="spacertop"></div>
        GOOD MORNING<br/>
        <div style="height: 10px;"></div>
        {{fullname | uppercase}}
        <div class="spacer"></div>
    </div>
    
    <!--<ion-list show-delete="false" can-swipe="true">
      <ion-item class="swipe_check_in item-remove-animate item-icon-right text-center" type="item-text-wrap">
        <div>Swipe here to check in</div>
        <ion-option-button class="button-positive check_in_out_button" ng-click="showCheckinAlert()">Check In</ion-option-button>
        <ion-option-button class="button-assertive check_in_out_button" ng-click="showCheckoutConfirm()">Check Out</ion-option-button>
      </ion-item>      
    </ion-list>-->

        <a class="button button-full button-royal" href="#/app/newteam" >Create Team</a>
        <a class="button button-full button-royal" href="#/app/createnewuser">Create User</a>
        <a class="button button-full button-royal" href="#/app/jobtype">Create Job Type</a>

  </ion-content>
</ion-view>
</body>