<ion-view hide-nav-bar="true" view-title="Assign Task">
  <div class="bar bar-header bar-light barstyle">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
   <h1 class="title">{{curdate | date:'dd/MM/yyyy'}}</h1>
   <span class="button button-icon icon ion-checkmark" ng-show="checkin_check"></span>
  </div>
  <ion-content class="has-header" scroll="false">

    <div class="content_pane">
      <a class="button button-full item-icon-left whbg" ng-click="goBack()">
      <div class="task_task2">JOB TYPE</div>
      <i class="icon ion-chevron-left icon-accessory" style="color: #133D69"></i>
    </a>
      <form class="padding" novalidate role="form">

      <label class="item item-input">
          <span class="input-label">Job Type *</span>
          <input type="text" name="type" maxlength="50" placeholder="Job Type" ng-model="jobtype.type" ng-required="true">      
      </label>        

      </form>

    </div>

  </ion-content>
  <div class="bar bar-footer bar-energized footer-button">
  <a class="button button-full button-energized" ng-click="showJobtypeConfirm()"><strong>ADD JOB TYPE</strong></a>
</div>
</ion-view>