<ion-view id="loginPage" hide-nav-bar="true" view-title="Login">
  <ion-content class="padding">
      <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" maxlength="30">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" maxlength="30">
        </label>
        <a class="button button-block button-light" href="#/app/playlists">Log in</a>
      </div>
    </form>
  </ion-content>
</ion-view>

