<ion-view hide-nav-bar="true" view-title="Task of the day">
  <div class="bar bar-header bar-light">
  	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	<h1 class="title">20/05/2015</h1>
  	<span class="button button-icon icon ion-android-add"></span>
  </div>
  <ion-content class="has-header" scroll="false">
    <div class="padding welcome_msg">
      GOOD MORNING Manager<br/><br/>
      <a href="#/app/clockin">Tap here to check in</a>
    </div>
  	<div class="padding task_msg">Currently Working</div>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/app/playlists/{{playlist.id}}">
        <div class="task">{{playlist.task}}</div>
        <div>{{playlist.title}}</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-view>

